/*
  Pure CSS Buttons.
  Learn more ~ http://www.halmatferello.com/lab/pure-css-buttons/

  Licensed under GPL and MIT.
*/
.wf_pcb, .wf_pcb span                         {background: url('buttons.png') no-repeat; height: 23px; line-height: 23px; padding: 3px 0 7px 0; }
.wf_pcb, a.wf_pcb:link, a.wf_pcb:visited      {color: #333; font-size: 12px; font-style:bold; font-family:arial; padding-left: 14px; text-decoration: none !important; }

/* ie 6 hack */
* html div#frame .wf_pcb                      {color: #333; padding-top: 0px; padding-bottom: 0px; text-decoration: none; }

/* ie 7 hack */
*:first-child + html .wf_pcb                    {color: #333; padding-top: 0px; padding-bottom: 0px; text-decoration: none; }

.wf_pcb span                                  {background-position: right -326px; padding-right: 14px; }
a.wf_grey_button                              {background-position: left -219px; padding-top: 3px; }
a.wf_grey_button span                         {background-position: right -545px; padding-top: 3px; }
a.wf_grey_button:hover                        {background-position: left -246px; }
a.wf_grey_button:hover span                   {background-position: right -572px; }
a.wf_grey_button:active, .grey_active_button  {background-position: left -273px; }
a.wf_grey_button:active span, .grey_active_button span {background-position: right -599px; }
body.wf_grey_disabled_button                  {background-position: left -300px; color: #bbb !important; }
body.wf_grey_disabled_button span             {background-position: right -626px; }
